# Ignore everything
*

# Except these files and folders
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/README.md
!/.tmux.conf
!/.config/
!/.config/foot/
!/.config/foot/*
!/.config/tmux/
!/.config/tmux/*
!/.config/nvim/
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/.stylua.toml
!/.config/nvim/lua/
!/.config/nvim/lua/*
!/.config/nvim/lua/config/
!/.config/nvim/lua/config/*
!/.config/nvim/lua/plugins/
!/.config/nvim/lua/plugins/*
